.image {
    min-width: 800px;
    min-height: 600px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-art {
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .image-art.fade-in {
    opacity: 1;
    }
}
.show-image {
    @include flexbox(center, center, column, nowrap, 10px);
}
