main {
    background-color: $background-color;
    font-family: 'Pixel', sans-serif;
    color: $text-color;
    .input-n-settings {
        display: flex;
        align-items: center;
    }
    .show {
        @include flexbox(center, center, nowrap, row, 50px)
    }
}